<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.noticeboard.message.dao.MessageDAO">
 	<insert id="insertMessage">
 	INSERT INTO `message`
 		(	
			`user_nickName`
			,`other_nick_name`
			,`talk`
			,`send_message`
			,`receive_message`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
        (
        	#{userNick}
        	,#{otherNick}
        	,#{talk}
        	,true
        	,true
        	,NOW()
        	,NOW()
        );
 	</insert>
 	
 	<!--받은 메일함  -->
 	<select id="selectMessageListByNickFromOtherNick" resultType="com.noticeboard.message.model.Message">
 		SELECT
 			*
 		FROM
 			`message`
 		WHERE
 			`other_nick_name`= #{otherNick}
 			AND`receive_message` = true
 		ORDER BY `id` DESC
 			
 	</select>
 	
 	<!--보낸 메일함 -->
 	<select id="selectMessageListByNickFromUserNick" resultType="com.noticeboard.message.model.Message">
 		SELECT
 			*
 		FROM
 			`message`
 		WHERE
 			`user_nickName`= #{userNick}
 			AND`send_message` = true
 		ORDER BY `id` DESC
 	</select>
 	
 	<!-- id 값으로 갖고오는 삭제 리스트  -->
 	<select id="selectMsgListByid" resultType="com.noticeboard.message.model.Message">
 		SELECT
 			*
<!--  			`send_message`, -->
<!--  			`receive_message` -->
 		FROM
 			`message`
 		WHERE
 			`id` = #{id}
 	</select>
 	
<!--  	 id 값으로 send_message 값 false로 수정  -->
 	<update id="updateSendMsgById" parameterType="Map">
 		UPDATE
 			`message`
 		SET 
 			`send_message` = false
 		WHERE
 			`id` = #{id}
 	</update>
 	
 <!--  	 id 값으로 receive_message 값 false로 수정  -->
 	<update id="updateReceiveMsgById" parameterType="Map">
 		UPDATE
 			`message`
 		SET 
 			`receive_message` = false
 		WHERE
 			`id` = #{id}
 	</update>
<!-- id 값으로 message 삭제  --> 	
	<delete id="delMsgbyId">
		DELETE FROM
 			`message`
 		WHERE
 			`id` = #{id}
	</delete>
 </mapper>