<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.noticeboard.post.dao.PostDAO">
 	<select id="selectPost" resultType="com.noticeboard.post.model.Post">
 		SELECT * FROM `post`
 	</select>
 	<select id="selectPostByOffset" resultType="com.noticeboard.post.model.Post">
 		SELECT
 			`id`
			,`user_id`
			,`subject`
			,`content`
			,`imge_path`
			,`countView`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		ORDER BY `id` DESC LIMIT 5 OFFSET #{offset}
 	</select>
 	<insert id="insertPost" parameterType="Map">
 		INSERT INTO `post`
 			(
			`user_id`
			,`subject`
			,`content`
			,`imge_path`
			,`createdAt`
			,`updatedAt`
 			)
 		VALUES
 			(
 			#{userId}
			,#{subject}
			,#{content}
			,#{imagePath}
			,NOW()
			,NOW()
 			)
 			 
 	</insert>
 	<select id="selectPostByid" resultType="com.noticeboard.post.model.Post">
 		SELECT
 			`id`
			,`user_id`
			,`subject`
			,`content`
			,`imge_path`
			,`countView`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 	</select>
 	<delete id="deletePostByid">
 		DELETE FROM
 			`post`
 		WHERE
 			`id` = #{postId}
 	</delete>
 	<update id="updatePost" parameterType="Map">
 		UPDATE	
 			`post`
 		SET	
 			`subject` = #{subject}
 			,`content` = #{content}
 			<if test="imagePath != null">
 			,`imge_path` = #{imagePath}
 			</if>
 			,`updatedAt`= NOW()
 		WHERE
 			id = #{postId}
 	</update>
 	<update id="updateCountView" parameterType="Map">
 		UPDATE	
 			`post`
 		SET	
 			countView = #{countView}
 		WHERE
 			id = #{postId}
 	</update>
 </mapper>