@charset "UTF-8";

header {
	height : 100px;
	padding:20px;
	}
	
.content{min-height : 600px; margin: 20px;
}
.idInput{
	width : 400px;
}
.title{
	width: 400px;
}
.post_content{
	width: 1000px;
}
.post_detail{
	width: 1000px;
}
.post_content{
	min-height : 600px;
}
#like_img{
	width : 40px;
}
.serchBox{
	width :  500px;
}
#nav_box{
	width :  800px;
}
#message_nav{
	width : 400px;
	min-height : 600px;
	float: left;
}
#msg_table{
	width :800px;
	
}
#calendar{
	width :800px;
}